:host {
    @media only screen and (min-width: 992px) {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    @media only screen and (max-width: 992px) {
        margin: 1rem auto;
    }

    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}

.main-container {
    padding: 1.875rem 1.25rem 0;
    width: 16.063rem;
    min-height: 27rem;
    border: 1px solid var(--color-red);
    background-color: #F9F7F3;

    @media only screen and (max-width: 992px) {
        border-radius: 0.875rem;
        width: 17.375rem;
        min-height: 26.25rem;
    }

    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}

.xam-input-primary {
    height: auto;

    @media only screen and (min-width: 992px) {
      padding: 0 0.719rem;

      ::ng-deep .ng-select-container {
          height: 26px;
          min-height: 26px;
      }

      ::ng-deep .ng-input {
          top: 0 !important;
      }
    }
}

.extensions-container {
    border: 1px solid var(--color-red);
    border-radius: 0.875rem;

    .extension-field {
        border-bottom: 1px solid var(--color-red);
        height: 1.938rem;
        line-height: 1.938rem;
        padding-left: 0.719rem;
        padding-right: 2.25rem;

        &:last-child {
          border-bottom: none;
        }
    }
}

.extension-add {
    .xam-input-primary {
        width: 100%;

        @media only screen and (max-width: 992px) {
            padding: 0.65rem 0.875rem
        }
    }

    .field-icon {
        top: 55%;
    }
}

.field-icon {
    color: var(--color-red);
    font-size: 0.825rem;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}
