<div class="app-forgot bg-transparent border-0 position-relative">
  <!-- Background image -->
  <img src="/assets/images/bg-forgot.png" class="background position-absolute" />

  <div class="text-center mx-auto forgot-main">
    <!-- Title -->
    <h4 class="font-weight-bold">Reset the password</h4>

    <!-- Subtitle -->
    <p class="forgot-container mx-auto">No worries if you forgot your password, we got your back!</p>

    <form class="text-center forgot-container mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="my-4 text-left">
        <label for="email" class="col-form-label col-form-label-sm">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control xam-input-primary"
          placeholder="Enter email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

        <!-- Input error -->
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
      </div>

      <!-- Subtext -->
      <p style="width: 90%" class="mx-auto">We will send you an email with instruction to reset your password</p>

      <!-- Send button -->
      <button [disabled]="loading" class="w-50 mt-3 xam-btn-second">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" [ngStyle]="{ 'margin-bottom': '0.6rem' }"></span>
        Send
      </button>

      <!-- Error section -->
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

      <!-- Success section -->
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">
        We sent an email with reset link. Please check your inbox.
      </div>
    </form>
  </div>
</div>
