<div class="app-login bg-transparent border-0 position-relative">
  <!-- Background image -->
  <img src="/assets/images/bg-login.png" class="background position-absolute" />

  <div class="text-center mx-auto login-main">
    <!-- Title -->
    <h1 class="font-weight-bold mb-0">Log In</h1>

    <!-- Subtitle -->
    <p class="mt-0 mb-3">get prepared and get rewarded!</p>

    <!-- Form container -->
    <form class="text-left d-flex flex-column align-items-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email field -->
      <div class="mt-4 w-100">
        <label for="email" class="col-form-label col-form-label-sm">E-mail</label>
        <input
          type="email"
          formControlName="email"
          class="form-control xam-input-primary"
          placeholder="Enter email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>

      <!-- Password field -->
      <div class="mt-3 w-100">
        <label for="password" class="col-form-label col-form-label-sm">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control xam-input-primary"
          placeholder="Password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      <!-- Forgot password section -->
      <div class="text-center w-100">
        <a routerLink="/forgot-password" class="d-block text-dark mb-5"><b>Forgot the password?</b></a>
        <a routerLink="/signup" class="text-dark">Don’t have an account yet? <b>Sign Up</b> </a>
      </div>

      <!-- Remeber me section -->
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div> -->

      <!-- Sign in button -->
      <button [disabled]="loading" class="mt-4 xam-btn-second">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" [ngStyle]="{ 'margin-bottom': '0.6rem' }"></span>
        Sign in
      </button>

      <!-- Error alert section -->
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
  </div>
</div>
