<div class="terms-main my-5 mx-auto d-flex position-relative">
  <!-- Background left graphic -->
  <img
    src="/assets/images/bg_term_left.svg"
    class="img-fluid position-absolute terms-background terms-background-left"
  />

  <div class="d-flex flex-column w-100" style="height: min-content">
    <!-- Background top graphic -->
    <img
      src="/assets/images/bg_term_top.svg"
      class="img-fluid terms-background terms-background-top"
    />

    <div class="wrapper position-relative text-center">
      <!-- Title -->
      <h1>Terms & Conditions</h1>

      <!-- Subtitle -->
      <p>Last update: Apr 25, 2021</p>

      <div class="mt-5">
        <h5>Welcome</h5>
        <p class="text-justify">
          Welcome to xamlinx (the "Site") with web address developed by xamlinx
          (the "Organization", "we", "our"), a future subsidiary of 5/5 Report
          LLC, a Delaware registered company. The following Terms and Conditions
          of Use apply when you view or use the Site located at: . Please review
          the following terms and conditions carefully. By accessing or using
          the Site, you signify your agreement to these Terms and Conditions of
          Use. If you do not agree to these Terms and Conditions of Use, you may
          not access or use the Site. The Organization may change its Terms &
          Conditions of Use at any time. The Organization may inform you of the
          changes to these Terms and Conditions of Use through the available
          means of communication. The Organization recommends that you check the
          website frequently to look for any updated version of these Terms and
          Conditions of Use. By agreeing to using services provided by our
          Organization, you are agreeing to the present version of these Terms
          and Conditions of Use as laid out in the present document.
        </p>
      </div>

      <div class="content-container mt-5">
        <h5>Privacy Policy</h5>
        <p class="text-justify">
          The organization respects the privacy of its Site users. Please refer
          to the Organization's
          <a href="/policy"><u>Privacy Policy</u></a> which explains how we
          collect, use, and disclose information that pertains to your privacy.
          When you access or use the Site, you signify your agreement to this
          <a href="/policy"><u>Privacy Policy</u></a
          >.
        </p>
      </div>

      <div class="mt-5">
        <h5>Registration</h5>
        <p class="text-justify">
          Posting exam versions, graded or ungraded, to the
          <a href="/"><u>xamlinx.com</u></a> platform is understood to
          constitute registration to the Site even though no personal account
          may be created. If you are a user who has access to the exams database
          on the Site via a unique personal access code and edu email address,
          then you are considered registered to the Site
        </p>
      </div>

      <div class="mt-5">
        <h5>Refund Policy</h5>
        <p class="text-justify">
          Due to the nature of the services we offer, you may request a refund
          if you have not downloaded any study material or otherwise gained
          access to any tutoring or study resource in any form offered on the
          Site. You may request a refund by emailing us at
          <a href="mailto:info@xamlinx.com"><u>info@xamlinx.com</u></a> if you
          satisfy the aforementioned condition. Refunds may be issued only if
          requested within 3 days of your procurement of a valid site access
          key. All refunds requested after a 3-day period from the time of
          access may not be issued. Refunds once granted may take 5 to 7 days to
          process. By making a purchase on the site, you agree to have read and
          consented to the hereto mentioned refund policy.
        </p>
      </div>

      <div class="mt-5">
        <h5>Use and Conduct Restriction</h5>
        <p class="text-justify">
          You are solely responsible for the User Content that you post, upload,
          link to or otherwise make available via the Site. You agree that we
          are only acting as a passive conduit for your online distribution and
          publication of your User Content. The Organization, however, reserves
          the right to remove any User Content from the Site at its own
          discretion. Your permission to use the Site is conditioned upon the
          following Use Restrictions and Conduct Restrictions. You agree that
          you will not under any circumstances:
        </p>
        <ul class="text-justify">
          <li>
            post any information that is abusive, threatening, obscene,
            defamatory, libelous, or racially, sexually, religiously, or
            otherwise objectionable and offensive;
          </li>
          <li>
            use the Site for any unlawful purpose or for the promotion of
            illegal activities;
          </li>
          <li>
            attempt to, or harass, abuse or harm another person or group; use
            another user's account or credentials without permission;
          </li>
          <li>
            provide false or inaccurate information when registering an account;
          </li>
          <li>
            interfere or attempt to interfere with the proper functioning of the
            Site;
          </li>
          <li>
            make any automated use of the system, or take any action that we
            deem to impose or to potentially impose an unreasonable or
            disproportionately large load on our servers or network
            infrastructure;
          </li>
          <li>
            bypass any robot exclusion headers or other measures we take to
            restrict access to the Site or use any software, technology, or
            device to scrape, spider, or crawl the Site or harvest or manipulate
            data; or
          </li>
          <li>
            publish or link to malicious content intended to damage or disrupt
            another user's browser or computer.
          </li>
        </ul>
        <p class="m-0 text-justify">Additionally, you agree that:</p>
        <ul class="text-justify">
          <li>
            You will not post information that is malicious, false or
            inaccurate;
          </li>
          <li>
            You will not submit content that is copyrighted or subject to third
            party proprietary rights, including privacy, publicity, trade
            secret, etc., unless you are the owner of such rights or have the
            appropriate permission from their rightful owner to specifically
            submit such content; and
          </li>
          <li>
            You hereby affirm we have the right to determine whether any of your
            User Content submissions are appropriate and comply with these Terms
            and Conditions of Use, remove any and/or all of your submissions,
            and terminate your subscription to the Site with or without prior
            notice regardless of whether or not you paid for access to some or
            all of the services offered on the Site
          </li>
        </ul>
        <p class="text-justify">
          Furthermore, you understand and agree that any liability, loss or
          damage that occurs as a result of the use of any User Content that you
          make available through your use of the Site is solely your
          responsibility. The Organization is not responsible for any public
          display or misuse of your User Content. The Organization does not, and
          cannot, pre-screen or monitor all User Content. However, at our
          discretion, we, or the technology we employ, may monitor and/or record
          your interactions with the Site.
        </p>
      </div>

      <div class="mt-5">
        <h5>Online Content Disclaimer</h5>
        <p class="text-justify">
          Opinions, advice, statements, offers, or other information or content
          made available through the Site, but not directly by the Organization,
          are those of their respective authors, and should not necessarily be
          relied upon. Although the Organization makes every effort to curate
          all posts, we cannot guarantee that all posts are foolproof. The
          authors of the posts are ultimately solely responsible for the content
          they post. The Organization does not guarantee the accuracy,
          completeness, or usefulness of any information on the Site and neither
          does the Organization adopt nor endorse, nor is the Organization
          responsible for the accuracy or reliability of any opinion, advice, or
          statement made by parties other than the Organization. The
          Organization takes no responsibility and assumes no liability for any
          User Content that you or any other user or third party posts or sends
          over the Site. Under no circumstances will the Organization be
          responsible for any loss or damage resulting from anyone's reliance on
          information or other content posted on the Site, or transmitted to
          users.
        </p>
        <p class="text-justify">
          Though the Organization strives to enforce these Terms and Conditions
          of Use, any user may still be exposed to User Content that is
          inaccurate or objectionable. The Organization reserves the right, but
          has no obligation, to monitor the materials posted in the public areas
          of the Site or to limit or deny a user's access to the Site or take
          other appropriate action if a user violates these Terms and Conditions
          of Use or engages in any activity that violates the rights of any
          person or entity or any activity which we deem unlawful, offensive,
          abusive, harmful or malicious. The Organization shall have the right
          to remove any such material that in its sole opinion violates, or is
          alleged to violate, the law or this agreement or which might be
          offensive, or that might violate the rights, harm, or threaten the
          safety of users or others. Unauthorized use may result in criminal
          and/or civil prosecution under the law. If you become aware of misuse
          of our Site, please contact us here.
        </p>
      </div>

      <div class="mt-5">
        <h5>Links to other sites and/or materials</h5>
        <p class="text-justify">
          As part of the Site, the Organization may provide you with convenient
          links to third party web site(s) ("Third Party Sites") as well as
          content or items belonging to or originating from third parties (the
          "Third Party Applications, Software or Content"). These links are
          provided as a courtesy to Site subscribers. The Organization has no
          control over Third Party Sites and Third Party Applications, Software
          or Content or the promotions, materials, information, goods or
          services available on these Third Party Sites or Third Party
          Applications, Software or Content. Such Third Party Sites and Third
          Party Applications, Software or Content are not investigated,
          monitored or checked for accuracy, appropriateness, or completeness by
          the Organization, and the Organization is not responsible for any
          Third Party Sites accessed through the Site or any Third Party
          Applications, Software or Content posted on, available through or
          installed from the Site, including the content, accuracy,
          offensiveness, opinions, reliability, privacy practices or other
          policies of or contained in the Third Party Sites or the Third Party
          Applications, Software or Content. Inclusion of, linking to or
          permitting the use or installation of any Third Party Site or any
          Third Party Applications, Software or Content does not imply approval
          or endorsement thereof by the Organization. If you decide to leave the
          Site and access the Third Party Sites or to use or install any Third
          Party Applications, Software or Content, you do so at your own risk
          and you should be aware that our terms and policies no longer govern.
          You should review the applicable terms and policies, including privacy
          and data gathering practices, of any site to which you navigate from
          the Site or relating to any applications you use or install from the
          Site.
        </p>
      </div>

      <div class="mt-5">
        <h5>Copyright Compaints and Copyright Agent</h5>

        <p class="text-justify">
          (a) Termination of Repeat Infringe Accounts. The Organization respects
          the intellectual property rights of others and requests that the users
          do the same. The Organization has adopted and implemented a policy
          that provides for the termination in appropriate circumstances of
          access by users of the Site who are repeat infringers. The
          Organization may terminate access for participants or users who are
          found repeatedly to provide or post protected third party content
          without necessary rights and permissions.
        </p>
        <p class="text-justify">
          (b) Take-Down Notices. If you are a copyright owner or an agent
          thereof and believe, in good faith, that any materials provided on the
          Site infringe upon your copyrights, you may submit a notification
          pursuant by sending the following information in writing to the
          Organization's designated copyright agent to the address provided
          here:
        </p>

        <ol class="text-justify">
          <li>The date of your notification</li>
          <li>
            The signature of a person authorized to act on behalf of the owner
            of an exclusive right that is allegedly infringed;
          </li>
          <li>
            A description of the copyrighted work claimed to have been
            infringed, or, if multiple copyrighted works are covered by a single
            notification, a representative list of such works;
          </li>
          <li>
            A description of the material that is claimed to be infringing or to
            be the subject of infringing activity and information sufficient to
            enable us to locate such work;
          </li>
          <li>
            Information reasonably sufficient to permit the Site provider to
            contact you, such as an address, telephone number, and/or email
            address;
          </li>
          <li>
            A statement that you have a good faith belief that use of the
            material in the manner complained of is not authorized by the
            copyright owner, its agent, or the law; and
          </li>
          <li>
            A statement that the information in the notification is accurate,
            and under penalty of perjury, that you are authorized to act on
            behalf of the owner of an exclusive right that is allegedly
            infringed.
          </li>
        </ol>
        <p class="text-justify">
          (c) Counter-Notices. If you believe that your User Content that has
          been removed from the Site is not infringing, or that you have the
          authorization from the copyright owner, the copyright owner's agent,
          or pursuant to the law, to post and use the content in your User
          Content, you may send a counter-notice containing the following
          information to our copyright agent using the contact information set
          forth above:
        </p>
        <ol class="text-justify">
          <li>Your physical or electronic signature;</li>
          <li>
            A description of the content that has been removed and the location
            at which the content appeared before it was removed;
          </li>
          <li>
            A statement that you have a good faith belief that the content was
            removed as a result of mistake or a misidentification of the
            content; and
          </li>
          <li>
            Your name, address, telephone number, and email address, a statement
            that you consent to the laws of Delaware and a statement that you
            will accept service of process from the person who provided
            notification of the alleged infringement.
          </li>
        </ol>
        <p class="text-justify">
          If a counter-notice is received by the Organization copyright agent,
          the Organization may send a copy of the counter-notice to the original
          complaining party informing such person that it may reinstate the
          removed content in 10 business days. Unless the copyright owner files
          an action seeking a court order against the content provider, member
          or user, the removed content may (in the Organization's discretion) be
          reinstated on the Site in 10 to 14 business days or more after receipt
          of the counter-notice.
        </p>
      </div>

      <div class="mt-5">
        <h5>Licence Grant</h5>
        <p class="text-justify">
          By posting any User Content on the Site, you expressly grant, and you
          thereby present and warrant that you have a right to grant, to the
          Organization a royalty-free, sub licensable, transferable, perpetual,
          irrevocable, non-exclusive, worldwide license to use, reproduce,
          modify, publish, list information regarding, edit, translate,
          distribute, publicly perform, publicly display, and make derivative
          works of all such User Content and your name, voice, and/or likeness
          as contained in your User Content, if applicable, in whole or in part,
          and in any form, media or technology, whether now known or hereafter
          developed, for use in connection with the Site
        </p>
      </div>

      <div class="mt-5">
        <h5>Intellectual Property</h5>
        <p class="text-justify">
          You acknowledge and agree that we and our licensors retain ownership
          of all intellectual property rights of any kind related to the Site,
          including applicable copyrights, trademarks and other proprietary
          rights. Other product and business names that are mentioned on the
          Site may be trademarks of their respective owners. We reserve all
          rights that are not expressly granted to you under this Agreement.
        </p>
      </div>

      <div class="mt-5">
        <h5>Email May Not Be Used To Provide Notice</h5>
        <p class="text-justify">
          Communications made through the Site's e-mail and messaging system,
          will not constitute legal notice to the Organization or any of its
          officers, employees, agents or representatives in any situation where
          notice to the Organization is required by contract or any law or
          regulation.
        </p>
      </div>

      <div class="mt-5">
        <h5>User Consent To Recive Communications In Electronic Form</h5>
        <p class="text-justify">For contractual purposes, you:</p>

        <ul style="list-style: none; padding: 0" class="text-justify">
          <li>
            a) Consent to receive communications from the Organization in an
            electronic form via the email address you have submitted or used on
            the Site; and
          </li>
          <li>
            b) agree that all Terms and Conditions of Use, agreements, notices,
            disclosures, and other communications that the Organization provides
            to you electronically satisfy any legal requirement that such
            communications would satisfy if it were in writing.
          </li>
        </ul>

        <p class="text-justify">
          The foregoing does not affect your non-waivable rights.
        </p>

        <p class="text-justify">
          We may also use your email address, to send you other messages,
          including information about the Organization and special offers. If
          you have a personal account on the Site, you may opt out of such email
          by changing your account settings or otherwise send an email to the
          Organization.
        </p>

        <p class="text-justify">
          Opting out may prevent you from receiving messages regarding the
          Organization or Special Offers.
        </p>
      </div>

      <div class="mt-5">
        <h5>Warranty</h5>
        <p class="text-justify">
          THE SITE, IS PROVIDED "AS IS," WITHOUT WARRANTY OF ANY KIND. WITHOUT
          LIMITING THE FOREGOING, THE ORGANIZATION EXPRESSLY DISCLAIMS ALL
          WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, REGARDING THE SITE
          INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS
          FOR A PARTICULAR PURPOSE, TITLE, SECURITY, ACCURACY AND
          NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, THE ORGANIZATION
          MAKES NO WARRANTY OR REPRESENTATION THAT ACCESS TO OR OPERATION OF THE
          SITE WILL BE UNINTERRUPTED OR ERROR FREE. YOU ASSUME FULL
          RESPONSIBILITY AND RISK OF LOSS RESULTING FROM YOUR DOWNLOADING AND/OR
          USE OF FILES, INFORMATION, CONTENT OR OTHER MATERIAL OBTAINED FROM THE
          SITE. SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF
          WARRANTY, SO THIS PROVISION MAY NOT APPLY TO YOU.
        </p>
      </div>

      <div class="mt-5">
        <h5>Limitation of Damages</h5>
        <p class="text-justify">
          TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE
          ORGANIZATION, ITS AFFILIATES, DIRECTORS, OR EMPLOYEES, OR ITS
          LICENSORS OR PARTNERS, BE LIABLE TO YOU FOR ANY LOSS OF PROFITS, USE,
          OR DATA, OR FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR
          EXEMPLARY DAMAGES, HOWEVER ARISING, THAT RESULT FROM:
        </p>

        <p class="text-justify">
          THE USE, DISCLOSURE, OR DISPLAY OF YOUR USER CONTENT; YOUR USE OR
          INABILITY TO USE THE SITE; THE SITE GENERALLY OR THE SOFTWARE OR
          SYSTEMS THAT MAKE THE SITE AVAILABLE; <br />OR<br />
          ANY OTHER INTERACTIONS WITH THE ORGANIZATION OR ANY OTHER USER OF THE
          SITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE)
          OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE ORGANIZATION HAS
          BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY
          SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
          SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF LIABILITY, SO
          THIS PROVISION MAY NOT APPLY TO YOU.<br />
          If you have a dispute with one or more users or a merchant of a
          product or service that you review using the Site, you release us (and
          our officers, directors, agents, subsidiaries, joint ventures and
          employees) from claims, demands and damages (actual and consequential)
          of every kind and nature, known and unknown, arising out of or in any
          way connected with such disputes.
        </p>
      </div>

      <div class="mt-5">
        <h5>Modification of Terms and Conditions of Use</h5>
        <p class="text-justify">
          These Terms and Conditions of Use, together with our Privacy Policy
          and any other legal notices published by the Organization on the Site
          or by the Organization's Merchants, shall constitute the entire
          Agreement between you and the Organization concerning the Site. We may
          change the terms of this Agreement from time to time on a
          going-forward basis, and any such modifications become effective
          immediately upon being posted to the Site. It is your sole
          responsibility to check the Site from time to time to view any such
          changes in the Agreement. If you do not agree to any changes, if and
          when such changes may be made to the Agreement, you must cease use of
          the Site. Your use of the Site and/or derived services after any
          modifications to the Agreement indicates that you agree to such
          modified Agreement. Any changes to this Agreement (other than as set
          forth in this paragraph) or waiver of the Organization’s rights
          hereunder shall not be valid or effective except in a written
          agreement bearing the physical signature of an officer of the
          Organization. No purported waiver or modification of this Agreement by
          the Organization via telephonic or email communications shall be
          valid.
        </p>
      </div>

      <div class="mt-5">
        <h5>Copyright Notice</h5>
        <p class="text-justify">
          All files and information contained in this website located at are
          copyrighted by xamlinx.com, and may not be duplicated, copied,
          modified or adapted, in any way without our written permission. Our
          Website may contain our service marks or trademarks as well as those
          of our affiliates or other companies, in the form of words, graphics,
          and logos.
        </p>

        <p class="text-justify">
          Your use of our website, or services does not constitute any right or
          license for you to use our service marks or trademarks, without the
          prior written permission of our organization.
        </p>

        <p class="text-justify">
          Our content, as found within our website or services, is protected
          under local and foreign copyrights. The copying, redistribution, use
          or publication by you of any such Content, is strictly prohibited.
          Your use of our website or services does not grant you any ownership
          rights to our content.
        </p>
      </div>

      <div class="mt-5">
        <h5>Enforcement of Copyright</h5>
        <p class="text-justify">
          Xamlinx.com takes the protection of its copyright very seriously.
        </p>

        <p class="text-justify">
          If the organization discovers that you have used its copyright
          materials in contravention of the license above, we may bring legal
          proceedings against you seeking monetary damages and an injunction to
          stop you from using those materials. You could also be ordered to pay
          legal costs.
        </p>

        <p class="text-justify">
          If you become aware of any use of our organization’s copyright
          materials that contravenes or may contravene the license above, please
          report this to us immediately.
        </p>

        <p class="text-justify">
          Copyright © Xamlinx.com 2021 All Rights Reserved
        </p>
      </div>

      <div class="mt-5">
        <h5>General Terms</h5>
        <p class="text-justify">
          If any part of this Agreement is held invalid or unenforceable, that
          portion of the Agreement will be construed consistent with applicable
          law. The remaining portions will remain in full force and effect. Any
          failure on the part of the Organization to enforce any provision of
          this Agreement will not be considered a waiver of our right to enforce
          such provision. Our rights under this Agreement will survive any
          termination of this Agreement.
        </p>

        <p class="text-justify">
          You agree that any cause of action related to or arising out of your
          relationship with the Organization must commence within ONE year after
          the cause of action accrues. Otherwise, such cause of action is
          permanently barred.
        </p>

        <p class="text-justify">
          These Terms of Use and your use of the Site are governed by the laws
          of of the State of Delaware, without regard to conflict of law
          provisions.
        </p>

        <p class="text-justify">
          The Organization may assign or delegate these Terms and Conditions of
          Use and/or the Organization's Privacy Policy, in whole or in part, to
          any person or entity at any time with or without your consent. You may
          not assign or delegate any rights or obligations under these Terms and
          Conditions of Use or Privacy Policy without the Organization's prior
          written consent, and any unauthorized assignment and delegation by you
          is void.
        </p>

        <p class="text-justify">
          YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND CONDITIONS OF USE,
          UNDERSTAND THESE TERMS AND CONDITIONS OF USE, AND WILL BE BOUND BY
          THESE TERMS AND CONDITIONS OF USE. YOU FURTHER ACKNOWLEDGE THAT THESE
          TERMS AND CONDITIONS OF USE TOGETHER WITH THE PRIVACY POLICY FOUND
          HERE REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT
          BETWEEN US AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL
          OR WRITTEN, AND ANY OTHER COMMUNICATIONS BETWEEN US RELATING TO THE
          SUBJECT MATTER OF THIS AGREEMENT.
        </p>
      </div>
    </div>

    <!-- Background bottom graphic -->
    <img
      src="/assets/images/bg_term_bottom.svg"
      class="img-fluid terms-background terms-background-bottom"
    />
  </div>

  <!-- Background right graphic -->
  <img
    src="/assets/images/bg_term_right.svg"
    class="img-fluid position-absolute terms-background terms-background-right"
  />
</div>
