.app-uploads {
    margin-top: 5rem;
    h1 {
        font-size: 2.75rem; // Design specification
    }
    .upload-btn { // Design specification
        padding: 0; // Ensuring correct size
        width: 12.063rem;
        height: 2.875rem;
        font-size: 1.375rem;
        font-family: 'Recoleta';
    }
}
