.container {
    margin-top: 4rem;
}
h1 {
    font-size: 2.75rem; // Design specification
}
h2 {
    font-size: 2.063rem; // Design specification
}
.find-btn { // Design specification
    width: 14.625rem;
    height: 3.25rem;
    font-size: 1.563rem;
}
