<footer>
  <!-- Logo -->
  <h1 class="font-weight-bold">Xamlinx</h1>

  <div class="row copyright-container">
    <!-- Copyright -->
    <div class="col-md-5 mb-4 mb-md-0">
      <p class="m-0">@{{ year }} 5/5 Report, LLC.</p>
      <p class="copyright m-0">All rights reserved</p>
    </div>

    <!-- Navigation -->
    <div class="col-md-7 pt-3 pt-md-0">
      <div class="row">
        <!-- First column -->
        <div class="col-6 col-sm-3 mb-4 nav-column">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/about" routerLinkActive="active" >About Us</a>
            </li>
            <li class="nav-item">
              <a href="mailto:info@xamlinx.com" routerLinkActive="active" >Contact</a>
            </li>
            <li class="nav-item">
              <a href="#how-it-works" routerLinkActive="active" >How it works</a>
            </li>
          </ul>
        </div>

        <!-- Second column -->
        <div class="col-6 col-sm-3 mb-4 nav-column">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/exams/uploads" routerLinkActive="active" >Upload</a>
            </li>
            <li class="nav-item">
              <a routerLink="/requests" routerLinkActive="active" >Request</a>
            </li>
          </ul>
        </div>

        <!-- Third column -->
        <div class="col-6 col-sm-3 mb-4 nav-column">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/login" routerLinkActive="active" >Log In</a>
            </li>
            <li class="nav-item">
              <a routerLink="/signup" routerLinkActive="active" >Sign Up</a>
            </li>
          </ul>
        </div>

        <!-- Fourth column -->
        <div class="col-6 col-sm-3 mb-4 nav-column">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/terms-conditions" routerLinkActive="active" >Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a routerLink="/policy" routerLinkActive="active" >Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a routerLink="/faqs" routerLinkActive="active" >FAQs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
